body{
    cursor: url(../assets/images/cursor.png), url(../assets/images/cursor2.cur), auto;
    background-color: rgba(255, 217, 0, 0.404);
}


.header{
    text-align: center;
}

.logo{
    width: 600px;
    height: 250px;
}

.button{
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    animation: aumentar, 1s;
}
.champSelect{
    background-color: black !important;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#wiki{
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /*1fr = 100px*/ /*Numero de columnas y su tamañano*/
    gap: 12px;                         /*Separación entre columnas*/
    width: 100%;
}

#mensaje{
    color: white;
    visibility: hidden;
    
}

.description p{
    text-align: justify;
}

.champSelect{
    border: 2px solid rgb(78, 78, 78);
    border-radius: 5px;
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
}

.description p{
    color: white;
    display: none;
    transform: translateY(-500px);
    margin: 10px;
}

.description:active .imgChamp{
    filter: blur(8px);
    cursor: pointer;
}

.description:active p{
    display:inline;
    top: 0;
}

.nombre{
    margin: 0;
    border: 2px solid;
    font: bold;
    background: linear-gradient(rgb(248,247,169), rgb(255, 174, 0));
}

.resource{
    border: solid 2px;
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 140, 255));
}

@keyframes aumentar{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1.5);
    }
}