th{
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
}

table{
    border-collapse: collapse;
    margin: auto;
}

td:nth-child(2){
    text-align: center;
}

td{
    width: 200px;
    border: solid 1px;
}